.container{
  font-family:	"Myriad Pro", "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  padding:25px;
  }

.wrap {
  max-width: 67.5em;
  margin-left: auto;
  margin-right:auto
}